body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWF0aHN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
    font-family: cursive;
  }
  
  .form {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px;
  }
  
  .input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: solid 4px violet;
    color: violet;
  }
  
  .input::placeholder {
    color: lightgray;
    font-family: cursive;
  }
  
  .btn {
    background-color: violet;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .btn:hover {
    filter: brightness(0.9);
  }
  
  .score {
    color: violet;
    text-align: right;
  }