@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: yellow;
  color: black;
  padding: 20px;
  margin: auto;
  width: 900px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  font-size: small;
  text-align: justify;
  font-size: 15px;
}

.btn {
  margin: 10px 0;
  padding: 5px 15px;
  font-weight: bold;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  transition: all 0.2s ease-in-out;
}

.hide {
  display: none;
}
